project:
  type: website
  output-dir: docs
  resources:
    - image.jpg

website:
  title: "My AI Blog"
  navbar:
    left:
      - href: index.qmd
        text: Home

format:
  html:
    theme: cosmo
    toc: true
